@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
         url('../fonts/Rubik-Bold.ttf') format('truetype'),
         url('../fonts/Rubik-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
         url('../fonts/Rubik-BoldItalic.ttf') format('truetype'),
         url('../fonts/Rubik-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Italic.woff2') format('woff2'),
         url('../fonts/Rubik-Italic.ttf') format('truetype'),
         url('../fonts/Rubik-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
         url('../fonts/Rubik-Regular.ttf') format('truetype'),
         url('../fonts/Rubik-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copse';
    src: url('../fonts/Copse-Regular.woff2') format('woff2'),
         url('../fonts/Copse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
