<!doctype html>
<html lang="{{ site.lang | default: "ru-RU" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>
      <div id="banner">
        <div id="nav-header">
          <h2>Навигация</h2>
        </div>
        <a href="{{ site.github.repository_url }}"><img id="logo" src="{{ '/assets/images/octocat-logo.svg' | relative_url }}"></a>
        <a href="{{ site.github.repository_url | append: '/fork' }}" class="button fork"><strong>FORK ME!</strong></a>
        <div class="menu">
          <a class="menu-triger" href="#"></a>
          <div class="menu-popup">
            <a class="menu-close" href="#"></a>
            <div class="mobile-nav">
              <ul></ul>
            </div>
          </div>
        </div>
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Скачать:</span>
            <div class="button-cont"><a href="{{ site.github.zip_url }}" class="button">ZIP</a></div>
            <div class="button-cont"><a href="{{ site.github.tar_url }}" class="button">TAR</a></div>
          </div>
        {% endif %}
        <div id="scroll" onclick="scrollToTop()"></div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <div id="book-header">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </div>

        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p><small>Проект поддерживается <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small></p>
        {% endif %}
        <p><small>Размещено на <a href="https://pages.github.com/">GitHub Pages</a></small></p>
      </footer>
    </div>
  </body>
</html>